pkgbase = gramcache
	pkgdesc = Native, ultra-light Instagram desktop client with a persistent cache
	pkgver = 1.0.0
	pkgrel = 1
	url = https://git.justw.tf/LightZirconite/instaCache
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = pkgconf
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = glib2
	depends = libsoup3
	optdepends = librsvg: generate raster icons at install time
	source = gramcache-1.0.0.tar.gz::https://git.justw.tf/LightZirconite/instaCache/archive/v1.0.0.tar.gz
	sha256sums = e0d13d7c61497982ff30340ca8f7616bd757e8d650732a22c07074b8a1ed66c4

pkgname = gramcache
